======================================================

<b>Lumabi, Earl Vanesse T.   

BSCPE 1-4

Object-Oriented Programming

Lab Activity #1

======================================================

<b><h1>#1 Diamond Shape</h1>

<b>Write a Python function named print_diamond that takes an odd integer n as an argument and prints a diamond shape with a width of n using the * character.

In [6]:

# Source Code

def print_diamond(n):
  if n % 2 == 0:
    print("Enter only odd integer")
    return

  for i in range(n // 2 + 1):
    print(' ' * ((n - (2 * i + 1)) // 2) + '*' * (2 * i + 1))

  for i in range(n // 2 - 1, -1, -1):
    print(' ' * ((n - (2 * i + 1)) // 2) + '*' * (2 * i + 1))

print_diamond(5)

  *
 ***
*****
 ***
  *