- - - - - - - - - - - - - - - - - -

<b>Lumabi, Earl Vanesse T.   

BSCPE 1-4

Object-Oriented Programming

Lab Activity #1</b>

- - - - - - - - - - - - - - - - -

#<b>1. Diamond Shape

**Write a Python function named print_diamond that takes an odd integer n as an argument and prints a diamond shape with a width of n using the * character.**

In [ ]:
# Diamond Shape Code

def print_diamond(n):
    # Checks if the n is even
    if n % 2 == 0:
        return "Please provide an odd integer."

    # Prints the upper half of the diamond shape
    for i in range(1, n + 1, 2):
        print(" " * ((n - i) // 2) + "*" * i)

    # Prints the lower half of the diamond shape
    for i in range(n - 2, 0, -2):
        print(" " * ((n - i) // 2) + "*" * i)

# Example using 5 as odd integer
print_diamond(5)

  *
 ***
*****
 ***
  *

*The output when providing odd integer 5*

- - - - - - - - - - - - - - - - -

### Upper-half Diamond Shape For Loop

In [ ]:
n = 5 # Example n odd integer

# Prints the upper half of the diamond shape
for i in range(1, n + 1, 2):
    print(" " * ((n - i) // 2) + "*" * i)

  *
 ***
*****

>This first for loop is the one responsible for printing the upper half of the diamond shape.<br>
<br>
>For example 5 as n value, the range(1, n+1, 2) generates numbers 1, 3, 5 for n=5. This makes that each row has an increasing odd number of "*".<br>
<br>
>The (n - i) // 2 centers the "*" by adding spaces before it. For example, when i = 1, the number of spaces is (5-1)//2 = 2, so the output is '  *'.<br>

- - - - - - - - - - - - - - - - -

### Lower-half Diamond Shape For Loop

In [ ]:
n = 5 # Example n odd integer
# Prints the lower half of the diamond shape
for i in range(n - 2, 0, -2):
    print(" " * ((n - i) // 2) + "*" * i)

 ***
  *

>This for loop is responsible for printing the lower half. Since the first for loop already prints the middle of the diamond shape, this for loop will only print the lower half without the middle part of the diamond. <br>
<br>
>So n will be decrement by 2 so the range is 3 to 1 with the step of -2.

- - - - - - - - - - - - - - - - -

#<b>2. Program that will delete duplicated characters

**Input starts with a number N  and is followed by N strings**

In [44]:
def removeDuplicates(stringList):
    for i in stringList:
        lowerIndex = i.lower()
        uniqueChar = []
        for char in i:
            if lowerIndex.count(char.lower()) == 1:
                uniqueChar.append(char)
        print("".join(uniqueChar))


stringList = []
n = int(input("Enter n: "))
for i in range(n):
    string = input().strip()
    stringList.append(string)

removeDuplicates(stringList)

Enter n: 2
Harrenhal
Thoros of Myr
enl
ThsfMy

*The example output for the code*

---

### Input n and strings with iteration n

```python
stringList = []
n = int(input("Enter n: "))
for i in range(n):
    string = input().strip()
    stringList.append(string)
```

>The program asks the user for n (number of strings) and stores them in stringList.

### Function that removes duplicates of characters in a string

```python
def removeDuplicates(stringList):
    for i in stringList:
        lowerIndex = i.lower()
        uniqueChar = []
        for char in i:
            if lowerIndex.count(char.lower()) == 1:
                uniqueChar.append(char)
        print("".join(uniqueChar))
```

>Iterates through each string and converts it to lowercase for case-insensitive comparison.
<br><br>
>Checks each character and keeps only those that appear exactly once in the string.
<br><br>
>Prints the filtered characters as a new string.

#<b>3. Code Output

In [1]:
# Code
for i in range(2):
    for j in range(2):
        print(i, j)
    else:
        print("Inner End")
else:
    print("Outer End")

0 0
0 1
Inner End
1 0
1 1
Inner End
Outer End

*The output of the code*

---

### For Loop Outer-Inner Loop and Outer Else statement


```python
for i in range(2):
    for j in range(2):
        print(i, j)
    else:
        print("Inner End")

else:
    print("Outer End")
```

>The inner loop prints (i, j), then ends after two iterations.<br><br>
>The else attached to the inner loop runs after the inner loop completes.<br><br>
>The outer loop iterates again.<br><br>
>After the outer loop finishes completely, the outer else executes.